<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>Document</title>
        {% block bootstrap_header %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% endblock bootstrap_header %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" ii="footer">
            <div class="list-group list-group-horizontal mx-auto">
                <a href="/books/" class="list-group-item list-group-item-action">Список книг</a>
                <a href="/publ/" class="list-group-item list-group-item-action">Список издателей</a>
                <a href="/author/" class="list-group-item list-group-item-action">Список авторов</a>
                <a href="/reader/" class="list-group-item list-group-item-action">Список читателей</a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
