{% extends 'base_tmpl_pl.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">Количество представленных издательств: {{ publishers|length }} .</h1>

    <ul class="list-group col-11 mx-auto">
        {% for publisher in publishers %}
            <li class="list-group-item list-group-item-primary">{{ publisher.name }}
                <span class="badge badge-primary badge-pill">{{ publisher.books.all|length }}</span>
                <ul>
                {% for book in publisher.books.all %}
                    <li class="list-group-item list-group-item-secondary">{{ book.title }} -- {{ book.year_release }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

