{% extends 'base_tmpl_pl.html' %}
{% block content %}
    <div class="container">
    <h1 class="text-center">Количество представленных читателей: {{ object_list|length }}</h1>
        <div class="list-group col-6 mx-auto">
            <form action="create" class="justify-content-start mt-1">
                <button class="btn btn-outline-success col-4" >Новый</button>
            </form>
            {% for reader in object_list %}
                <a class="list-group-item list-group-item-action" href="{{reader.id}}/">{{ reader.name }}
                    <span class="badge badge-primary badge-pill">{{ reader.books.all|length }}</span>
                    <ul>
                        {% for book in reader.books.all %}
                            <li class="list-group-item list-group-item-secondary">{{ book.title }} -- {{ book.year_release }}</li>
                        {% endfor %}
                    </ul>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
